body{
    margin: 0 ;
    overflow-x: hidden;
    background-color: #f2f2f2 ;
}

.rightNav {
    float: right;
}
.leftNav {
    background-color: #333;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 80%;
    
    
}
a {
    list-style-type: none;
    text-decoration: none;
    padding: 10px 12px;
    color: white;
    background-color: #333;
    font-family: sans-serif;
    
}
.headerImage{
    width: 100px;
    height: 50px;
    display: inline;
}
.header{
    text-align: center;
}
.titleWords{
    display: inline;
    padding-left: 10px;
    position: relative;
    bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imgsForSlide{
    margin-top: 10px;
    text-align: center;
    height: 2000px;
    width: auto;
}
.slideImgs{
    height: 30%;
    width: 70%;
}
.next {
    cursor: pointer;
    position: relative;
    bottom: 100px;
    left: 30%;
    

    
}
.previous {
    cursor: pointer;
    position: relative;
    bottom: 100px;
    right: 30%;
    
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }

.thumbnails {
    text-align: center;
    position: relative;
    top: 40px;

}


.thumbnailImages {
    text-align: center;
    width: 20%;
    display: inline-block;
}

#footer{
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
        
}

.footerDiv{
    text-align: center;
}

.text {
    display: block;
    font-size: 20px;
    font-family: sans-serif;
    
}

.accountText{
    display: inline;
    font-size: 20px;
    font-family: sans-serif;
}

/* Customization for the hotel cards */
.hotelInfoDiv{
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
    
}

.hotelImage{
    position: relative;
    left: 10%;
    bottom: 100px;
    height: auto;
    width: 100%;
    max-width: 640px;
}

.wordsInHotel {
    position: relative;
    left: 60%;
}

/* Hotel card for booking page */
.hotelInfoDivBooking{
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
    
}

.hotelImageBooking{
    position: relative;
    left: 10%;
    bottom: 100px;
    height: auto;
    width: 100%;
    max-width: 640px;
}

.wordsInHotelBooking {
    position: relative;
    left: 60%;
}

/* Bathrooms */
.bathroomInfoDiv{
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
    
}

.bathroomImage{
    position: relative;
    bottom: 50px;
    height: auto;
    width: 100%;
    max-width: 640px;
}

.wordsInBathroom {
    position: relative;
    left: 50%;
}

/* Rooms */
.roomInfoDiv{
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
}

.roomImage{
    position: relative;
    bottom: 250px;
    height: auto;
    width: 100%;
    max-width: 640px;
}


.wordsInroom {
    position: relative;
    left: 60%;
}

/* Customization for basket information */
.basketInfoDiv{
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
    
}

.bathroomImage{
    position: relative;
    bottom: 50px;
    height: auto;
    width: 100%;
    max-width: 640px;
}

.wordsInBasket {
    position: relative;
    
    
}

.buttonsInBasket {
    position: relative;
    left: 40%;
    bottom: 300px;
}

.bathroomImageBooking2{
    position: relative;
    left: 700px;
    bottom: 550px;
    height: auto;
    width: 70%;
    max-width: 640px;
}
.roomImageBooking2{
    position: relative;
    left: 700px;
    bottom: 600px;
    height: auto;
    width:90%;
    max-width: 640px;
}



@media screen and (max-width: 500px){
    .text {
        display: block;
        font-size: 20px;
        font-family: sans-serif;
        
    }
    
    .accountText{
        display: inline;
        font-size: 20px;
        font-family: sans-serif;
    }

    
    .hotelInfoDiv{
        border-style: solid;
        border-width: 5px;
        padding: 20px;
        margin: 20px;
        
    }
    
    .hotelImage{
        position: relative;
        left: 10%;
        bottom: 250px;
        height: auto;
        width: 70%;
        max-width: 640px;
    }
    
    .wordsInHotel {
        position: relative;
        left: 10px;
        top: 210px;
        
    }
    .bathroomInfoDiv{
        border-style: solid;
        border-width: 5px;
        padding: 20px;
        margin: 20px;
    }
    .bathroomImage{
        position: relative;
        bottom: 50px;
        height: auto;
        width: 70%;
        max-width: 640px;
    }
    
    .wordsInBathroom
     {
        position: relative;
        left: 1px;
        top: 190px;
    }
    /* Rooms */
    .roomInfoDiv{
        border-style: solid;
        border-width: 5px;
        padding: 20px;
        margin: 20px;
    }
    
    .roomImage{
        position: relative;
        bottom: 300px;
        height: auto;
        width:90%;
        max-width: 640px;
    }
    
    
    .wordsInroom {
        position: relative;
        left: 1px;
        top: 210px;
    }
    

    .hotelInfoDivBooking{
        border-style: solid;
        border-width: 5px;
        padding: 20px;
        margin: 20px;
        
    }
    
    .hotelImageBooking{
        position: relative;
        left: 10%;
        bottom: 200px;
        height: auto;
        width: 70%;
        max-width: 640px;
    }
    
    .wordsInHotelBooking {
        position: relative;
        left: 10px;
        top: 130px;
        
    }

    /* Bathroom and room image in booking section */

    .bathroomImageBooking2{
        position: relative;
        height: auto;
        width: 70%;
        max-width: 640px;
    }
    .roomImageBooking2{
        position: relative;
        
        height: auto;
        width:90%;
        max-width: 640px;
    }
    .wordsInroomBooking {
        position: relative;
        left: 1px;
        top: 200px;
    }

    .basketInfoDiv{
        border-style: solid;
        border-width: 5px;
        padding: 20px;
        margin: 20px;
        
    }
    
    .wordsInBasket {
        position: relative;
        
        
    }
    
    .buttonsInBasket {
        position: relative;
        left: 0;
        bottom: 0;
    }
 
    
}
.icon{
    position: relative;
    right: 5px;
    top: 5px;
    margin: 0;
    padding: 0;
}



.textInput{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.errBox {
    border-style: solid;
    border-width: 5px;
    border-color: red;
    color: red;
    padding: 10px;
    margin: 20px;
    display: none;
}


.registerForm {
    text-align: center;
    
}
.loginForm {
    text-align: center;
}

.formText{
    display: block;
    font-size: 20px;
    font-family: sans-serif;
    color: red;
}

.customerDisplay{
    text-align: center;
}

.titleText {
    display: block;
    font-family: sans-serif;
    font-size: 28px
    
}

.titleDiv{
    text-align: center;
}

/* Customization for basket information */
.accountInfoDiv{
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
    
}

.wordsInAccount {
    position: relative;
    
    
}

@media screen and (min-width: 1000px){
    .icon {
        display: none;
    }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
    .leftNav a:not(:first-child) {display: none;}
    .leftNav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 1000px) {
    .leftNav.responsive {position: relative;}
    .leftNav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .leftNav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1000px) {
    .rightNav.responsive {position: relative;}
    .rightNav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .rightNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}