body{
    margin: 0 ;
    
}

.rightNav {
    float: right;
}
.leftNav {
    background-color: #333;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 80%;
    
    
}
a {
    list-style-type: none;
    text-decoration: none;
    padding: 10px 12px;
    color: white;
    background-color: #333;
    font-family: sans-serif;
    
}
.headerImage{
    width: 100px;
    height: 50px;
    display: inline;
}
.header{
    text-align: center;
}
.titleWords{
    display: inline;
    padding-left: 10px;
    position: relative;
    bottom: 15px;
    font-family: sans-serif;
}
.imgsForSlide{
    text-align: center;
}
.slideImgs{
    height: 30%;
    width: 70%;
}
.next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 12%;
    

    
}
.previous {
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 12%;
    
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }

.thumbnails {
    text-align: center;
    position: relative;
    top: 40px;

}

/* Six columns side by side */
.thumbnailImages {
    text-align: center;
    
    width: 20%;
    display: inline-block;
}

#footer{
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
        
}

.footerDiv{
    text-align: center;
}

/* Customization for the hotel cards */
.hotelInfoDiv{
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
    
}

.hotelImage{
    position: relative;
    left: 10%;
    bottom: 100px;
    height: auto;
    width: 100%;
    max-width: 640px;
}

.wordsInHotel {
    position: relative;
    left: 60%;
}
.text {
    display: block;
    font-size: 24px;
    font-family: sans-serif;
}

/* Customization for the bathroom cards */

.bathroomInfoDiv{
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
    
}

.bathroomImage{
    position: relative;
    bottom: 50px;
    
    height: auto;
    width: 100%;
    max-width: 640px;
}

.wordsInBathroom {
    position: relative;
    left: 60%;
}

/* Customization for the room cards */

.roomInfoDiv{
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
    
}

.roomImage{
    position: relative;
    bottom: 150px;
    height: auto;
    width: 100%;
    max-width: 640px;
}

.wordsInroom {
    position: relative;
    left: 60%;
}