body{
    margin: 0 ;
    
}

.rightNav {
    float: right;
}
.leftNav {
    background-color: #333;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 80%;
    
    
}
a {
    list-style-type: none;
    text-decoration: none;
    padding: 10px 12px;
    color: white;
    background-color: #333;
    
}
.headerImage{
    width: 100px;
    height: 50px;
    display: inline;
}
.header{
    text-align: center;
}
.titleWords{
    display: inline;
    padding-left: 10px;
    position: relative;
    bottom: 15px;
}
.imgsForSlide{
    text-align: center;
}
.slideImgs{
    height: 30%;
    width: 70%;
}
.next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 12%;
    

    
}
.previous {
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 12%;
    
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }

.thumbnails {
    text-align: center;
    position: relative;
    top: 40px;

}

/* Six columns side by side */
.thumbnailImages {
    text-align: center;
    
    width: 20%;
    display: inline-block;
}

#footer{
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
        
}

.footerDiv{
    text-align: center;
}
